/* || GENERAL STYLES */

:root{
    --logo_banner: #152737;
    --logo_font: #fffff0;
    --logo_background: #682321;
    --accent_one: #A6432D;
    --accent_two: #F57532;
    --accent_three: #5ABFA3;

    /*Colorful Theme*/
    --colorful_purple: ##BE7ABF;
    --colorful_lavender: #F2DCF2;
    --colorful_blue: #609BBF;
    --colorful_tan: #F28F79;

    /*Bright Theme*/
    --bright_lavender: #D7C7D9;
    --bright_peach: #F28F79;
    --bright_tan: #F2D7D0;
    --bright_gray: #595959;

    /*Deep Theme*/
    --deep_tan: #F2D7D0;
    --deep_blue: #609BBF;
    --deep_lavender: #D7C7D9;
    --deep_black: #595959;

    /*Dark Theme*/
    --dark_purple: #8C6C8C;
    --dark_lavender: #F2DCF2;
    --dark_plum: ##736673;
    --dark_black: #736662;


    /*Illustration Theme*/
    --ill_pink: #F26B76;
    --ill_darkblue: #010440 ;
    --ill_navyblue: #010326;
    --ill_mint: #5ABFA3;
    --ill_salmon: #F2AEAE;
    
}
a{
    color: var(--accent_two);
}

body{
    background-image: url("images/smaller\ paper\ background.jpeg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    color: var(--logo_font);
}

footer{
    color: var(--logo_font);
    position: relative;
    text-align: center;
    
}

h3{
    font-size: 2rem;
    color: var(--logo_font);
}

hr{
    color: var(--logo_font);
}

main{
    position: absolute;
    left: 10%;
}

p{
    font-size: 1.5rem;
}

ul{
    list-style-type: none;
    padding: 0;
    justify-content: space-evenly;
}

/* || UTILTY STYLES*/
#about{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0 5%;
}

.about-column{
    background-color: rgba(2, 3, 29, 0.562);

}

.card-left{
    grid-template-columns: 2fr 1fr;
    padding-left: 1%;
    border-left: .25rem solid var(--accent_three);

}

.card-right{
    grid-template-columns: 1fr 2fr;
    border-right: .25rem solid var(--accent_two);
    padding-right: 1%;
}

.certification{
    width: 15%;
    margin: 1%;
}

.certification img{
    width: 100%;
}

.certifications-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 2%;
}

.chat-bubble-left{
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    mix-blend-mode: normal;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    max-width: 70%;
    letter-spacing: .5rem;
    line-height: 2.5rem;
    font-size: 1.5vw;
    padding: 2%;
    color: var(--logo_font);
    background-color: var(--logo_banner);
    border-radius: .5rem;
    position: relative;
    box-shadow: .5rem .5rem var(--logo_background);
    border: .25rem solid var(--logo_font);
}

.chat-bubble-left:before{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    border-top: 2rem solid var(--logo_font);
    border-right: 0rem solid var(--logo_font);
    border-bottom: 0rem solid transparent;
    border-left: 2rem solid transparent;
    left: -2rem;
    top: 0.75rem;
}

.chat-bubble-left:after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    border-top: 1.75rem solid var(--logo_banner);
    border-right: 0rem solid var(--logo_banner);
    border-bottom: 0rem solid transparent;
    border-left: 1.5rem solid transparent;
    left: -1.45rem;
    top: 0.92rem;
}

.chat-bubble-right{
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    mix-blend-mode: normal;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .5rem;
    line-height: 2.5rem;
    font-size: 1.5vw;
    color: var(--logo_font);
    background-color: var(--logo_banner);
    padding: 2%;
    border-radius: .5rem;
    position: relative;
    box-shadow: .5rem .5rem var(--logo_background);
    border: .25rem solid var(--logo_font);
}

.chat-bubble-right:before{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    border-top: 2rem solid var(--logo_font);
    border-left: 0rem solid var(--logo_font);
    border-bottom: 0rem solid transparent;
    border-right: 2rem solid transparent;
    right: -2rem;
    top: 0.75rem;
}

.chat-bubble-right:after{
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    border-top: 1.75rem solid var(--logo_banner);
    border-left: 0rem solid var(--logo_banner);
    border-bottom: 0rem solid transparent;
    border-right: 1.5rem solid transparent;
    right: -1.45rem;
    top: 0.92rem;
}

.circular-img{
    margin: 2%;
    border-radius: 50%;
    border: .2rem solid var(--logo_font);
    box-shadow: .25rem .25rem .25rem var(--logo_background);
    align-content: flex-start;
    align-items: flex-start;
    aspect-ratio: 1/1;
}

.content-section{
    margin-left: 2%;
}

.flex-container{
    display: flex;
}

.flex-column-wrap{
    flex-flow: column wrap;
}

.flex-row-wrap{
    flex-flow: row wrap;
}

.grid-left-big{
    box-sizing: border-box;
    width: 100%;
}

.grid-right-small{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    align-self: stretch;
}

.grid-right-big{
    box-sizing: border-box;
    width: 100%;
    text-align: end;
}

.grid-left-small{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.project-card{
    display: grid;
    gap: 1rem;
    color: var(--logo_font);
    margin: 5% 2% 5% 2%;
    justify-content: space-between;
    align-items: center;
}

.project-img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

#resume-img{
    width: 75%;
    height: auto;
    margin: 3%;
}

/* ||SITEWIDE */

.logo{
    align-self: flex-start;
    justify-self: flex-start;
    width: 100%;
    aspect-ratio: 1/1;
}

.navbar{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    margin-bottom: 35%;
}

.nav-btn{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent_one);
    flex-basis: 100%;
}

.nav-btn:hover{
    color: var(--logo_banner);
    animation: hover-animation 200ms ease-in 0s forwards 1;
}

@keyframes hover-animation{
    0%{
        font-size: 1rem;
    }
    100%{
        font-size: 1.3rem;
    }
}

.social-bar{
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 35%;
}

.social-btn{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent_one);
    flex-basis: 100%;
}

.social-btn:hover{
    color: var(--logo_banner);
    animation: hover-animation 200ms ease-in 0s forwards 1;
      
}

.sidebar{
    display: flex;
    flex-flow: row wrap;
    width: 8vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
}

.subheader{
    color: var(--accent_two);
    letter-spacing: 1rem;
    margin-left: -.5%;
}

#toggle{
    display: none;
}

.hamburger{
    display: none;
    font-size: 1.5rem;
    user-select: none;
}

@media only screen and (max-width: 1270px) {
    body{
        background-image: url("images/mobile\ background.jpeg");
    }
    
    main{
        left: 0%;
        top: 8%;
    }
    /*
    .hamburger{
        display: block;
    }
    */
    .logo{
        width:auto;
        max-height: 100%;
        padding: 0%;
        margin: 0%;
    }

    #logo-container{
        display: block;
        height: 100%;
        width: 100%;
    }

    .nav-btn{
        color: var(--logo_font);
    }

    .navbar{
        flex-flow: row nowrap;
        align-items: space-between;
        margin-bottom: 0%;
    }

    #certifications-container{
        flex-flow: column wrap;
    }

    .certification{
        width: 40%;
    }
    #resume-img{
        width: auto;
    }

    .sidebar{
        background-color: var(--logo_background);
        flex-flow: row nowrap;
        align-items: center;
        width: auto;
        max-height: 8%;
        right: 0;
        z-index: 1;
    }

    /*Hides default checkbox for hamburger menu*/
    .sidebar input{
        position: absolute;
        opacity: 0;
    }

    .social-bar{
        flex-flow: row nowrap;
        margin-bottom: 0%;
    }

    .social-btn{
        color: var(--logo_font);
    }

    /*Working on hamburger menu functionality. Currently have the checkbox hidden
    but still need to mess with the menu and get it to actually disappear/reappear.
    #toggle:checked{
        display: block;
    }
    */
}